{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3" style="background-color: rgb(6, 22, 37); text-align: center;">
                <h1 class="menulink">Wikipedia</h1>
                <form action="{% url 'encyclopedia:search' %}">
                    <input class = "search" type = "text" name = "q" placeholder="Search text">
                </form>
                <div>
                    <a href="{% url 'encyclopedia:index' %}" class="menulink" style="font-size: 30px;">Home</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:new_page' %}" class="menulink" style="font-size: 30px;">Create New Page</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:random' %}" class="menulink" style="font-size: 30px;">Random page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>