{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ pageHead }}
{% endblock %}




{% block body %}
<div class="centerTable"></div>
<form action="{% url 'encyclopedia:edit_page' pageHead %}">
    <header>
        <button class="button" type="submit" method="get">Edit page</button>
    </header>
    <div style="color: white; text-align: center; font-size: 32px;">
        <a>{{page|safe}}</a>
            <input type="hidden" value="{{pageHead}}" name="pageHead">
        </form>
    </div>
</div>
{% endblock %}